{% comment %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for link in section.settings.navigation.links %}
            <li class="nav-item dropdown">
              <a href="{{ link.url }}" class="nav-link dropdown-toggle">
                {{ link.title }}
              </a>

              {% if link.links != blank %}
                <ul>
                  {% for child in link.links %}
                    <li>
                      <a href="{{ child.url }}" class="dropdown-item" >
                        {{ child.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
{% endcomment %}

{% comment %}
  <header id="home">
    <nav class="navbar">
      <div class="logo">
        <a href="#">Pro-Dev</a>
        <i id="menu-close" class="fa-solid fa-bars"></i>
      </div>
      <div class="navbar-links">
        <ul class="links">
          {% for link in section.settings.navigation.links %}
            <li>
              <a href="{{ link.url }}">
                {{ link.title }}
              </a>

              {% if link.links != blank %}
                <ul class="sub-menu">
                  {% for child_link in link.links %}
                    <li class="more-submenu">
                      <a href="{{ child_link.url }}">
                        {{ child_link.title }}
                      </a>

                      {% if child_link.links != blank %}
                        <ul class="sub-menu more-sub-menu">
                          {% for grandson_link in child_link.links %}
                            <li>
                              <a href="{{ grandson_link.url }}">
                               {{ grandson_link.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </header>
{% endcomment %}

<nav class="nav">
  <ul class="nav__list">
    {% for link in section.settings.navigation.links %}
      <li>
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
        {% if link.links != blank %}
          <ul>
            {% for link_2 in link.links %}
              <li>
                <a href="{{ link_2.url }}">
                  {{ link_2.title }}
                </a>

                {% if link_2.links != blank %}
                  <ul>
                    {% for link_3 in link_2.links %}
                      <li>
                        <a href="{{ link_3.url }}">
                          {{ link_3.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>

{% schema %}
{
  "name": "Header",
  "class": "new-header",
  "tag": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation Menu Select",
      "default": "main-menu"
    }
  ]
}
{% endschema %}

<style>
  body {
    font-family: 'HelveticaNeue', Arial, sans-serif;
    margin: 0;
  }

  .nav {
    margin-top: 15px;
  }

  .nav__list {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .nav__list a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
  }

  .nav__list li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
  }

  .nav__list li:hover {
    background-color: gray;
  }

  .nav__list ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 0;
    list-style: none;
  }

  .nav__list ul li {
    float: none;
    width: 200px;
  }

  .nav__list ul a {
    line-height: 120%;
    padding: 10px 15px;
  }

  .nav__list ul ul {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #fff;
  }

  .nav__list li:hover > ul {
    display: block;
  }
</style>

<script>
  // get all elements here now
  const navMenuClose = document.getElementById('menu-close');
  const sideMenuClose = document.getElementById('sidebar-close');
  const links = document.querySelector('header .navbar .navbar-links');
  const menuLi = document.querySelectorAll('header .navbar .navbar-links .links > li');
  const submenu = document.querySelectorAll('header .navbar .navbar-links .links li ul > li');

  navMenuClose.addEventListener('click', () => {
    links.style.left = '0';
  });

  sideMenuClose.addEventListener('click', () => {
    links.style.left = '-100%';
  });

  document.addEventListener('click', (event) => {
    if (!links.contains(event.target) && !navMenuClose.contains(event.target)) {
      links.style.left = '-100%';
    }
  });

  menuLi.forEach((item) => {
    item.addEventListener('click', (e) => {
      menuLi.forEach((li) => {
        li.classList.remove('active');
      });

      e.currentTarget.classList.toggle('active');
    });
  });

  submenu.forEach((item) => {
    item.addEventListener('click', (e) => {
      e.currentTarget.classList.toggle('show-menu');
    });
  });

  const navbar = document.querySelector('header');
  const topMenu = document.querySelector('.top-menu');

  window.addEventListener('scroll', () => {
    const scrollHeight = window.scrollY;
    const navbarHeight = navbar.getBoundingClientRect().height;

    if (scrollHeight > navbarHeight) {
      navbar.classList.add('nav-fix');
    } else {
      navbar.classList.remove('nav-fix');
    }

    console.log(scrollHeight);

    if (scrollHeight > 200) {
      topMenu.classList.add('show-btn');
    } else {
      topMenu.classList.remove('show-btn');
    }
  });

  topMenu.addEventListener('click', () => {
    document.documentElement.scrollTop = 0;
  });
</script>
