<div>
    <product-custom></product-custom>

    {% assign current_product = product %}
    {% assign metafield_products = product.metafields.custom.ctn_btns.value %}

    {% assign metaobject_upsell = product.metafields.custom.upsell_add_product %}  
    {% assign upsell = metaobject_upsell.value %}
    {% assign upsell_product = upsell.product.value %}

    <template class="main-template">
        {{ "component.css" | asset_url | stylesheet_tag }}

        <div class="ctn">
            <div class="ctn-slider">
                <div class="swiper mySwiper2 ctn-main-slider">
                    <div class="swiper-wrapper main-slider-img">

                        {% for image in current_product.images %}
                            <div class="swiper-slide ctn-img">
                                <img src="{{ image.src | image_url }}" alt="{{ image.alt }}" />
                            </div>
                        {% endfor %}

                    </div>
                    <div class="swiper-button-next"> </div>
                    <div class="swiper-button-prev"> </div>
                </div>

                <div thumbsSlider="" class="swiper mySwiper ctn-small-slider">
                    <div class="swiper-wrapper mini-slider-img ">

                        {% for image in current_product.images %}
                            <div class="swiper-slide ctn-img {% if forloop.first %} swiper-slide-active {% endif %}">
                                <img src="{{ image.src | image_url }}" alt="{{ image.alt }}" />
                            </div>
                        {% endfor %}

                    </div>
                    <div class="swiper-button-next"> </div>
                    <div class="swiper-button-prev"> </div>
                </div>
            </div>

            <div class="ctn-txt">
                <div class="product-txt">
                    <h1 class="title">
                        {{ current_product.title }}
                    </h1>

                    <div class="txt">
                        {{ current_product.description }}
                    </div>

                    <div class="ctn-price">
                        <p class="current-price">
                            {{ current_product.price | money }}
                        </p>
    
                        {% if metafield_products %}
                            <p class="price upsell-info">
                                {{ upsell_product.price | money }}
                            </p>
                        {% endif %}
                    </div>
                
                </div>

                {% if metafield_products %}
                    <div class="ctn-btns">

                        <!-- First button with current product -->
                        <button class="btn-product active" data-index="0">
                            <div class="ctn-img">
                                <img src="{{ current_product.featured_image | image_url }}" alt="">
                            </div>

                            <p class="title">
                                {{ current_product.title }}
                            </p>    

                            <p class="price"> 
                                {{ current_product.price | money }}
                            </p>
                        </button>
                        
                        {% for metafield_product in metafield_products %}
                            <button class="btn-product" data-index="{{ forloop.index }}">
                                <div class="ctn-img">
                                    <img src="{{ metafield_product.featured_image | image_url }}" alt="">
                                </div>

                                <p class="title">
                                    {{ metafield_product.title }}
                                </p>    

                                <p class="price"> 
                                    {{ metafield_product.price | money }}
                                </p>
                            </button>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if metaobject_upsell %}
                    <div class="upsell">
                        <p class="tlt">
                            {{ upsell.title }}
                        </p>

                        <div class="ctn-btn">
                            <button class="btn-upsell" id="btn_yes">
                                {{ upsell.yes }}
                                <p class="txt">
                                    {{ upsell.text_yes }}
                                </p>
                            </button>
                            <button class="btn-upsell active" id="btn_no">
                                {{ upsell.not }}
                                <p class="txt">
                                    {{ upsell.text_not }}
                                </p>
                            </button>
                        </div>
                    </div>
                {% endif %}

                <div class="product-txt">
                    <div class="ctn-form">
                        {% form 'product', current_product, class:'product-form', id:'AddToCartForm' %}
                            {% if current_product.variants.size > 0 %}
                                <input type="hidden" name="id" value="{{ current_product.variants[0].id }}">
                            {% endif %}
                            <button type="submit" name="add" id="AddToCard" class="btn-add-to-cart">
                                Add To Cart
                            </button>
                        {% endform %}
                    </div>

                    <div class="upsell-form">
                        {% form 'product', upsell_product, class:'product-form', id:'AddToCartForm' %}
                            {% if upsell_product.variants.size > 0 %}
                                <input type="hidden" name="id" value="{{ upsell_product.variants[0].id }}">
                            {% endif %}
                            <button type="submit" name="add" id="AddToCard" class="btn-add-to-cart">
                                Add To Cart
                            </button>
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </template>

    {% for metafield_product in metafield_products  %}

        <template class="template">
            {{ "component.css" | asset_url | stylesheet_tag }}

            <div class="ctn">
                <div class="ctn-slider">
                    <div class="swiper mySwiper2 ctn-main-slider">
                        <div class="swiper-wrapper main-slider-img">
                            {% for image in metafield_product.images %}
                                <div class="swiper-slide ctn-img">
                                    <img src="{{ image.src | image_url }}" alt="{{ image.alt }}" />
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"> </div>
                        <div class="swiper-button-prev"> </div>
                    </div>

                    <div thumbsSlider="" class="swiper mySwiper ctn-small-slider">
                        <div class="swiper-wrapper mini-slider-img">
                            {% for image in metafield_product.images %}
                                <div class="swiper-slide ctn-img">
                                    <img src="{{ image.src | image_url }}" alt="{{ image.alt }}" />
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"> </div>
                        <div class="swiper-button-prev"> </div>
                    </div>
                </div>

                <div class="ctn-txt">
                    <div class="product-txt">
                        <h1 class="title">
                            {% if block.settings.title_custom != blank %}
                                {{ block.settings.title_custom }}
                            {% else %}
                                {{ metafield_product.title }}
                            {% endif %}
                        </h1>

                        <div class="txt">
                            {{ metafield_product.description }}
                        </div>

                        <div class="ctn-price">
                            <p class="current-price">
                                {{ metafield_product.price | money }}
                            </p>
        
                            {% if metafield_products %}
                                <p class="price upsell-info">
                                    {{ upsell_product.price | money }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="product-txt">
                    <div class="ctn-form">
                        {% form 'product', metafield_product, class:'product-form', id:'AddToCartForm' %}
                            {% if metafield_product.variants.size > 0 %}
                                <input type="hidden" name="id" value="{{ metafield_product.variants[0].id }}">
                            {% endif %}
                            <button type="submit" name="add" id="AddToCard" class="btn-add-to-cart">
                                Add To Cart
                            </button>
                        {% endform %}
                    </div>

                    <div class="upsell-form">
                        {% form 'product', upsell_product, class:'product-form', id:'AddToCartForm' %}
                            {% if upsell_product.variants.size > 0 %}
                                <input type="hidden" name="id" value="{{ upsell_product.variants[0].id }}">
                            {% endif %}
                            <button type="submit" name="add" id="AddToCard" class="btn-add-to-cart">
                                Add To Cart
                            </button>
                        {% endform %}
                    </div>
                </div>
            </div>
        </template>
    {% endfor %}

    <template class="upsell-template">
        {% for item in upsell_product.images %}
            <div class="swiper-slide upsell-item-main">
                <img src="{{ item.src | image_url }}" alt="{{ item.alt }}" />
            </div>
        {% endfor %}    

        
        {% for item in upsell_product.images %}
            <div class="swiper-slide upsell-item-mini">
                <div class="slider-img">
                    <img src="{{ item.src | image_url }}" alt="{{ item.alt }}" />
                </div>
            </div>
        {% endfor %}
    </template>

</div>

{% schema %}
{
    "name": "Test Section",
    "class": "test_section",
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "text",
                    "id": "title_custom",
                    "label": "Title"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Test Section",
            "category": "Custom"
        }
    ]
}
{% endschema %}

{{ "component.js" | asset_url | script_tag }}