<div>
    <product-custom></product-custom>

    {% for block in section.blocks %}
        {% if block.type == 'product' %}
            {% assign product = block.settings.product | product %}

            <template class="template">
                {{ "component.css" | asset_url | stylesheet_tag }}

                <div class="ctn">
                    <div class="ctn-slider">
                        <div class="swiper mySwiper2 ctn-main-slider">
                            <div class="swiper-wrapper">
                                {% for image in product.images %}
                                    <div class="swiper-slide main-slider-img">
                                        <img src="{{ image.src | image_url }}" alt="{{ image.alt }}" />
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>

                        <div thumbsSlider="" class="swiper mySwiper ctn-small-slider">
                            <div class="swiper-wrapper">
                                {% for image in product.images %}
                                    <div class="swiper-slide">
                                        <div class="slider-img">
                                            <img src="{{ image.src | image_url }}" alt="{{ image.alt }}" />
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="ctn-txt">
                        <div class="product-txt">
                            <h1 class="title">
                                {% if block.settings.title_custom != blank %}
                                    {{ block.settings.title_custom }}
                                {% else %}
                                    {{ product.title }}
                                {% endif %}
                            </h1>

                            <p class="txt">
                                {{ product.description }}
                            </p>
                        </div>

                        {% for block in section.blocks %}
                            <button class="cambiar-producto {% if forloop.first %}active{% endif %}" >
                                <img src="{{ block.settings.product.featured_image | image_url }}" alt="" style="width: 100px;">
                            </button>
                        {% endfor %}    

                        <div class="product-txt">
                            <p class="price">
                                {{ product.price | money }}
                            </p>
                        </div>
                    </div>
                </div>
            </template>
        {% endif %}
    {% endfor %}
</div>

{% schema %}
    {
        "name": "Test Section",
        "class": "test_section",
        "blocks": [
            {
                "type": "product",
                "name": "Product",
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product"
                    },
                    {
                        "type": "text",
                        "id": "title_custom",
                        "label": "Title"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Test Section",
                "category": "Custom"
            }
        ]
    }
{% endschema %}

{{ "component.js" | asset_url | script_tag }}